.modal {
    position:fixed;
    top:20%;
    left:25%;
    z-index:1;
    width:50%;
    height: 70%;
    position:fixed;
    border:1px solid #808080;
    border-radius:10px;
    background-color: rgb(250, 236, 225);
}

.modal_form {
    display: flex;
    
}

.modal_content {
    margin: auto;
    padding-top:100px;
    padding-bottom: 20px;
    width:100%;
    border:0px solid #888;
}

.form_input {
    border-bottom: 1px unset black;
    background-color:transparent;
    border-top: none;
    border-left: none;
    border-right:none;
    
}

.button_form {
    cursor: pointer;
    padding: 10px;
    width:20%;
    font-size: 14px;
    background: linear-gradient(to right, rgb(244, 107, 69), rgb(238, 168, 73));
    border-radius: 10px;
    outline:none;
    border:1px solid linear-gradient(to right, rgb(244, 107, 69), rgb(238, 168, 73));
}

.header {
    padding:10px;
    border-radius: 10px;
    background:linear-gradient(to right, rgb(244, 107, 69), rgb(238, 168, 73));
    font-size: 25px;
}

.edit_form {
    outline: none;
}